body {
  margin: 40px;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 5px;
}

.column {

}

.column > li {
  list-style: none;
}

.column > li > span {
  line-height: 1.5em;
}
